//Breakpoints
$layout-breakpoint-large:1920px;
$layout-breakpoint-medium:1440px;
$layout-breakpoint-small:960px;
$layout-breakpoint-xsmall:480px;


//Colors
$background:#f8f8f8;
$backgroundsection:#f32d2d;
$white:white;
$black: black;

